/* Ezeket adtam hozzá */
.menu-toggle {
  display: none;
  cursor: pointer;
  position: relative;
  width: 30px;
  height: 24px;
  margin-top: 10px;
}

.bar {
  width: 30px;
  height: 3px;
  background-color: #fff;
  margin: 4px 0;
  transition: 0.4s;
}

.menu-toggle .bar:nth-child(2) {
  opacity: 1;
}

.menu-toggle.open .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.menu-toggle.open .bar:nth-child(2) {
  opacity: 0;
}

menu-toggle.open .bar:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

@media screen and (min-width: 1200px) {
  .nav-cont {
    height: 95px;
  }
}

@media screen and (max-width: 768px) {
  .menu-toggle {
    display: block;
    top: 27px !important;
  }

  .nav-list {
    display: none;
    flex-direction: column;
  }

  .nav-list.open {
    display: flex;
    flex-direction: column;
  }

  .nav-list .nav-item {
    margin: 10px 0;
  }
}

@media screen and (max-width: 768px) {
  .pdf {
    display: flex;
  }
}

@media screen and (max-width: 1200px) {
  .nav-cont {
    display: flex;
    flex-direction: row;
    justify-content: right !important;
    align-items: center;
    padding: 10px 20px;
    width: 100% !important;
    z-index: 10000 !important;
    border-radius: 15px !important;
  }

  .nav {
    background-color: #a62120;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 80px;
    top: 0;
    left: 0;
    right: 0;
  }

  .img1 {
    order: 1;
    z-index: 1;
  }

  .menu-toggle {
    display: block;
    order: 2;
    margin-top: 0px;
  }

  .pdf,
  .menu-toggle {
    align-items: center;
    position: absolute;
    right: 20px;
    gap: 30px;
  }

  .nav-list {
    display: none;
    flex-direction: column;
    margin-top: 600px!important;
  }

  .opened {
    display: flex;
    flex-direction: column;
    display: flex;
    width: 100%;
    align-items: center;
  }

  .nav-list .nav-item {
    margin: 10px 0;
  }

  .nav2 {
    padding-left: 100px !important;
    padding-right: 0px !important;
  }

  .img1 {
    left: 0 !important;
    padding-top: 70px !important;
    padding-left: 20px !important;
  }

  .img1 > img {
    width: 100px !important;
  }

  .pdf {
    order: -1 !important;
    margin-right: 20px !important;
    position: absolute !important;
    right: 50px !important;
    top: 25px !important;
  }
}

/* --- */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(26, 26, 26);
  font-family: "Roboto", sans-serif;
}

.teksst{
  position: absolute;
  top: 200px;
  background: rgba(0, 0, 0, 0.395);
  padding-left: 200px;
  width: fit-content;
  max-width: 700px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 50px;

}

.slider{
  position: relative;
}

.picture{
  width: 100%;
  height: auto;
}

li {
  list-style: none;
  color: #ffffff;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  margin-right: 10px;
}

ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
}

.nav-cont {
  background-color: #a62120;
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
}

.img1 {
  left: 200px;
  position: absolute;
  padding-top: 90px;
}

.nav2 {
  justify-content: right;
  display: flex;
  color: white;
  align-items: center;
  padding-right: 430px;
  gap: 10px;
  height: 30px;
  background-color: rgb(41, 41, 41);
}

p {
  font-size: 14px;
  color: #ffffff;
}

.img2 {
  width: 15;
  height: 15;
}

.slider.img1 {
  width: 1280;
  height: 679;
}

h1 {
  font-size: 38px;
  color: white;
  font-weight: 700;
}

h2 {
  font-size: 16px;
  font-weight: 300;
  color: white;
  margin-top: 20px;
}

.slider {
  background: #0000004d;
}

.box2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 90px;
}

.box {
  display: flex;
  flex-direction: row;
  color: white;
  padding-top: 150px;
  justify-content: center;
  margin: 0 15% 0 15%;
}

h3 {
  font-size: 32px;
  color: #ffffff;
  margin-bottom: 10px;
}

h4 {
  font-size: 22px;
  padding-top: 0px;
  padding-bottom: 20px;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
}

button {
  background-color: #a62120;
  border-color: #ffffff;
  border-width: 2px;
  margin-top: 70px;
  border-radius: 50px;
  padding: 15px 50px 15px 50px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  row-gap: 20px;
  border-style: solid;
  transition-duration: 0.5s;
  cursor: pointer;
}

button:hover {
  background-color: #ffffff;
  color: black;
  cursor: auto;
}

.button {
  display: flex;
  column-gap: 20px;
}

.big-image {
  padding-left: 25px;
}

.images {
  justify-content: right;
}

.text2 {
  background-color: #a62120;
  justify-content: center;
  padding-left: 400px;
  padding-top: 100px;
}

.dis {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 50px;
  text-align: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
  margin-bottom: 80px;
}

.content {
  justify-content: center;
}

.line {
  margin-top: 80px;
  justify-content: center;
  text-align: center;
}

.text3 {
  background-color: #a62120;
  padding-left: 120px;
  padding-top: 150px;
  padding-right: 405px;
  font-weight: 300;
  font-size: 16px;
}

.cover {
  padding-top: 180px;
  padding-bottom: 180px;
  background-image: url(images/04.jpg);
  background-repeat: no-repeat;
  text-align: center;
}

.text4 {
  padding-right: 405px;
  font-weight: 300;
  font-size: 16px;
  padding-left: 250px;
}

.box4 {
  display: flex;
  flex-direction: row;
  color: white;
  padding-top: 100px;
  justify-content: center;
  align-items: center;
  margin-left: 460px;
  padding-bottom: 50px;
}

.row2 {
  display: flex;
  flex-direction: row;
  gap: 50px;
  text-align: center;
  align-items: center;
}

.text5 {
  font-weight: 300;
  font-size: 16px;
  justify-content: center;
  align-items: center;
  padding-right: 50px;
}

.box3 {
  display: flex;
  flex-direction: row;
  color: white;
  padding-top: 150px;
  justify-content: center;
}

h5 {
  justify-content: center;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff7a;
  padding-top: 50px;
}

.tekst {
  text-align: center;
  padding-bottom: 50px;
}

.pdf {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: 14px;
  max-height: 28px;
  align-items: center;
  padding-left: 20px;
}

.box5 {
  display: flex;
  flex-direction: row;
  color: white;
  padding-top: 100px;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding-bottom: 50px;
}

.button2 {
  background-color: #ffffff;
  color: black;
  border-color: #ff0000;
  transition-duration: 0.5s;
  cursor: pointer;
}

.button2:hover {
  background-color: #1b1b1b;
  color: #f6f6f6;
  cursor: auto;
}

.footer-item {
  color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  margin-left: 250px;
}

.contact {
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
}

.social {
  padding-right: 250px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

ul.footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 16px;
  margin-bottom: 0;
}

footer {
  background-color: #a62120;
  height: 175px;
}

.ok {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;
}

.bottom {
  background-color: #66000b;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 300px;
  padding-right: 250px;
}

.media {
  gap: 10px;
  display: flex;
  flex-direction: row;
}

.ilog {
  align-self: center;
}

.box {
  display: flex;
  flex-direction: row;
}

.box2 {
  flex: 1;
}

.big-image {
  text-align: center;
}

.small {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}

.grid-item {
  padding: 10px;
  text-align: center;
}

@media screen and (max-width: 1100px) {
  .box {
    flex-direction: column;
    padding-top: 0px;
  }

  .box2 {
    order: -1;
    margin: 0 auto;
    padding-left: 0px;
    width: 350px;
  }

  .box2 > .big-image > img {
    width: 100%;
  }

  .big-image {
    margin-top: 30px;
    padding: 0 !important;
  }

  .small > ul > img {
    width: 120px;
    padding: 0;
  }


  .slider-mobile {
    margin: 700px 15% 0 15%;
    display: block;
  }

  .mobile-slider-header {
    text-align: center;
    font-size: 38px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .mobile-slider-text {
    padding-top: 0px;
    font-weight: 300;
    margin: 0;
  }

  .box > .text > .button {
    justify-content: center;
  }

  .box3 {
    flex-direction: column;
  }

  .box3 > .text2 {
    padding: 0 !important;
  }

  .box3 > .text2 > .text-container {
    justify-content: center;
    display: grid;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
  }

  .box3 > .text2 > .text-container > ul {
    display: block;
  }

  .box3 > .text2 > .text-container > ul > li {
    list-style-type: circle;
  }

  .images > img {
    height: 290px;
    width: 100%;
    object-fit: cover;
  }

  .box3 > .text3 {
    padding: 0;
    display: block;
  }

  .box3 > .text3 > .text-container {
    justify-content: center;
    display: grid;
    margin: 20px 0px 20px 0px;
    text-align: center;
  }

  .images {
    order: 1;
  }

  .text3 {
    order: 0;
  }

  .box4 {
    padding: 0;
    margin: 0;
    text-align: center;
    display: block;
    margin: 0 auto;
  }

  .box4 > .text4 {
    padding: 0px;
  }

  .line > img {
    width: 100%;
    object-fit: cover;
  }

  .box5 {
    flex-direction: column;
  }

  .blogo-image {
    width: 300px !important;
    object-fit: contain !important;
  }

  .contact > .social {
    padding: 0px 0px 50px 0px;
  }

  footer > .bottom {
    flex-direction: column;
    width: 100%;
    padding: 0;
    text-align: center;
  }

  .contact > .ilog > img {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  footer > .contact {
    display: block;
    background: #a62120;
    display: grid;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    padding: 0;
  }

  footer > .contact > .footer > .footer-item {
    margin: 0;
  }

  footer > .contact > .footer > .social,
  footer > .contact > .footer > .bottom {
    flex-direction: column;
  }

  .food-img {
    width: 200px;
    height: 200px;
    object-fit: contain;
  }

  .nav2 {
    width: 100%;
  }

  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 500px) {
  .small > ul > img {
    width: 80px;
    height: 80px;
  }

  .small > ul {
    padding-right: 15vh;
  }

  .big-image > img {
    width: 250px !important;
    position: relative;
    right: 50px;
  }
}

@media screen and (min-width: 1100px) {
  .slider-mobile {
    display: none;
  }

  .dis > .row {
    display: flex;
  }

  .row2 {
    display: flex;
    flex-direction: row;
  }

  .box3 > .text2 > .text-container > ul {
    flex-direction: column;
  }

  .box3 > .text2 > .text-container > ul > li {
    list-style-type: circle;
  }

  .text2 {
    justify-content: center;
    padding-left: 300px;
    padding-top: 50px;
    padding-right: 325px;
    width: 100%;
  }
}
